# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/

# Environment
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

alembic.ini

tests/